<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joshuahughes.fypapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.StartUpActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashBoardActivity"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SavedRequestsActivity"
            android:label="@string/title_activity_saved_requests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BaseActivity" />
        <activity
            android:name=".activities.MapSearchActivity"
            android:label="@string/title_activity_map_search"
            android:parentActivityName=".activities.DashBoardActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.joshuahughes.fypapp.activities.DashBoardActivity" />
        </activity>
        <!-- GOOGLE PLAY SERVICES EMBEDDING-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- GOOGLE MAPS API KEY-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxhC2SKxpTG_f8B-m10NAo6sBkGD22Bhs"/>
    </application>

</manifest>
